<main class="row">
    <header>
        <h1 class="display-4 text-center bg-light">QuintessaTrip.com</h1>
    </header>
    <section class="col-lg-6 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <img src="../../assets/img/admin-card.png" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title">Admin</h5>
                <p class="card-text">Login here.</p>
                <a routerLink="/admin/login" class="card-link">Go to admin panel</a>
            </div>
        </div>
    </section>
    <section class="col-lg-6 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <img src="../../assets/img/flight_logo.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title">User</h5>
                <p class="card-text">Want to book ticket for your tour.</p>
                <a routerLink="" class="card-link">Go to client</a>
            </div>
        </div>
    </section>
</main>